*.ncrunchproject

*.ncrunchsolution
*.suo
*.cache
.vs

packages
_ReSharper.Caches

MathHelperRedux/bin
MathHelperRedux/obj

MathHelperReduxTest/bin
MathHelperReduxTest/obj
/*.user
/MathHelperRedux/push-all.ps1
